.star-rating {
    display: flex;
    align-items: center;
  }
  
  .star {
    width: 25px;
    height: 25px; 
    margin-right: 10px; 
  }

  @media (max-width: 700px) {
    .star {
      width: 18px;
      height: 18px; 
    }
  }