.cards-container {
    display: flex;
    flex-wrap: wrap;
    background: #F6F6F6;
    border-radius: 25px;
    gap: 40px 3%;
    padding: 52px;
    box-sizing: border-box; 
    justify-content: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.card-link {
    max-width: 30%;
}

@media (max-width: 1235px) {
    a.card-link {
        max-width: 45%;
    }
}

@media (max-width: 630px) {
    a.card-link {
        max-width: 100%;
    }
}